/****** Script for SelectTopNRows command from SSMS  ******/
/*ALTER PROC GetEmployee
AS
BEGIN
SELECT TOP (1000) [ID]
      ,[Name]
      ,[Address]
      ,[Email]
  FROM [TrainingSanduni].[dbo].[Employee]

END
*/
exec GetEmployee